.menu-wrap {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;

  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  border-radius: 0 0 50% 0;
  height: 60px;
  padding: 1rem;
  background-color: rgb(7, 137, 243);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Линия значка меню */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
/* Рисуется верхняя и нижня линия */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Смещение линии вниз */
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Анимация переключения */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* Поворот линий ввиде Х */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Поворот при наведении */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Показываем меню */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(2);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
/* ПОзиция блока с меню */
.menu-wrap .menu {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;

  transition: opacity 0.4s ease;
}
/* *************************************************************** */

:root {
  --primary: #ffce00;
  --secondary: #fe4880;
  --dark: #212121;
  --light: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
}

.menu-wrap .menu > div > div .card1 {
  margin: 0 -100px;
  width: 200px !important;
  height: 250px !important;
  perspective: 1000px;
}
.card2 {
  margin: 0 100px;
  width: 200px !important;

  height: 250px !important;
  perspective: 1000px;
}
/* .card3{
    margin: 40px auto 0;
    width:300px;
    height: 400px;
perspective: 1000px;
} */

/*------------------------------------------ 1 ------------------------------------------ */
.card__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card__inner.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0);
}

.card__face--front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__face--back {
  background-color: rgba(0, 0, 0, 0);
  transform: rotateY(180deg);
}

.card__content {
  width: 100%;
  height: 100%;
  font-size: large;
  margin-top: 50%;
}
/*------------------------------------------ end1 ------------------------------------------ */

/*------------------------------------------ 2 ------------------------------------------ */
.card2__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card2__inner.is-flipped {
  transform: rotateY(180deg);
}

.card2__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0);
}

.card2__face--front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card2__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.card2__content {
  width: 100%;
  height: 100%;
  font-size: large;
  margin-top: 50%;
}
/*------------------------------------------ end2 ------------------------------------------ */

/* ----------------------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

.slider {
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}
.slides {
  width: 800%;
  height: 300px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

/* .nnnig-m */
.navm {
  position: absolute;
  margin-top: -167px;
  width: 200px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}

.m-btn {
  border: 2px solid lightskyblue;
  padding: 5px;
  border-radius: 10px;
  transition: 0.8s;
  cursor: pointer;
}

.m-btn2 {
  border: 0;
  background-image: url("2.jpg");
  padding: 5px;
  border-radius: 10px;
  transition: 0.8s;
  cursor: pointer;
}

.m-btn:not(:last-child) {
  margin-right: 25px;
}
.m-btn:hover {
  background: lightskyblue;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

.nnn {
  width: 100px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  height: 220px;
  border-radius: 10px;
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
  background-color: antiquewhite;
}

.nnn ul {
  position: relative;
  list-style-type: none;
}

.nnn ul li a {
  display: flex;
  align-items: center;
  font-family: arial;
  font-size: 0.8em;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--dark);
  padding: 10px 30px;
  height: 35px;
  transition: 0.5s ease;
  border-radius: 30px 0;
}
.nnn ul li a:hover {
  background: rgba(0, 0, 0, 0.7);
  color: var(--light);
}

.nnn ul ul {
  position: absolute;
  left: 100px;
  top: -110px;
  display: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: salmon;
  border-radius: 9px;
}
.nnn ul span {
  position: absolute;
  right: 20px;
  font-family: 1.5em;
}
.nnn ul .dropdown {
  position: relative;
}
.nnn ul .dropdown:hover ul {
  display: initial;
}

/* ----------------------------------------------------------------------------------------- */

body {
  overflow: hidden;
  background: #e6e6fa;
  background: linear-gradient(to left, #0dbad1, #ace60e);
}
.menu-toggler {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  margin: auto;
  width: 40px;
  height: 40px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.menu-toggler:hover + label,
.menu-toggler:hover + label:before,
.menu-toggler:hover + label:after {
  background: white;
}
.menu-toggler:checked + label {
  background: transparent;
}
.menu-toggler:checked + label:before,
.menu-toggler:checked + label:after {
  top: 0;
  width: 40px;
  transform-origin: 50% 50%;
}
.menu-toggler:checked + label:before {
  transform: rotate(43deg) translateY(1px) translateX(-7px);
}
.menu-toggler:checked + label:after {
  transform: rotate(-45deg) translateY(-5px);
}
.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  transform: rotate(0deg) translate(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  transform: rotate(60deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  transform: rotate(120deg) translateX(-110px);
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  transform: rotate(180deg) translateX(-110px);
}

.menu-toggler:checked ~ ul .menu-item a {
  pointer-events: auto;
}
.menu-toggler + label {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: rgba(230, 239, 250, 0.9);
  transition: transform 0.5s top 0.5s;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.menu-toggler + label:before,
.menu-toggler + label:after {
  width: 40px;
  height: 5px;
  display: block;
  z-index: 1;
  border-radius: 2.5px;
  background: rgba(255, 255, 255, 0.7);
  transition: transform 0.5s top 0.5s;
  content: "";
  position: absolute;
  display: block;
  left: 0;
}
.menu-toggler + label:before {
  top: 10px;
}
.menu-toggler + label:after {
  top: -10px;
}
.menu-item:nth-child(1) a {
  transform: rotate(0deg);
}
.menu-item:nth-child(2) a {
  transform: rotate(-60deg);
}
.menu-item:nth-child(3) a {
  transform: rotate(-120deg);
}
.menu-item:nth-child(4) a {
  transform: rotate(-180deg);
}
.menu-item:nth-child(5) a {
  transform: rotate(-240deg);
}
.menu-item:nth-child(6) a {
  transform: rotate(-300deg);
}
.menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: 0.5s;
}
.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(230, 230, 250, 0);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  pointer-events: none;
  transition: 0.2s;
}
/* .menu-wrap .blocks {
  visibility: hidden;
  overflow: hidden;
  transition: 5s ease-in-out;
} */

.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 44.44px;
}

.menu-item .i2 {
  margin-top: 2px;
}

.menu-item .i1 {
  margin-top: 10px;
}

.menu-item .i3 {
  margin-top: 5px;
}
.menu-item .i4 {
  margin-top: 2px;
  margin-left: 8px;
}
